.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.unity-foldout {
    background-color: rgba(0, 0, 0, 0.49);
    min-height: 45px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgba(255, 255, 255, 0);
    -unity-text-outline-width: 0;
    -unity-text-align: middle-center;
    align-self: auto;
    -unity-font-style: bold;
    align-content: flex-start;
}


